// Required
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Import
@import "bootstrap/reboot";
@import "bootstrap/grid";
@import "bootstrap/navbar";
@import "bootstrap/nav";
@import "bootstrap/utilities";
@import "bootstrap/transitions";
@import "bootstrap/carousel";
@import "bootstrap/tables";
@import "bootstrap/modal";


// @import "bootstrap/bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Colors
@import "colors";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

button,
button:active,
button:focus,
a,
a:active,
a:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;

}

input {
    border-radius: 0;
}

/*IE9*/
// *::selection {
//     background-color: transparent;
// }

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.mt {
    margin-top: 50px !important;
}

.p0 {
    padding: 0;
}

.navbar {
    padding: 0;
    font-size: 18px;
    z-index: 9;


    .navbar-brand {
        padding: 0;

        img {
            width: 166px;

            &.dark {
                display: none;
            }
        }
    }

    &.fixed-top {
        background: rgba(1, 90, 128, 0.9);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .navbar-brand {

            img {

                &.light {
                    display: none;
                }

                &.dark {
                    display: block;
                }
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    margin: 20px 0;

                    &.current {
                        background: #013E58;
                        color: #19D6FF;
                    }
                }
            }
        }
    }

    &.navbar-sub {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: rgba(1, 90, 128, 0.9);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .navbar-brand {

            img {

                &.light {
                    display: none;
                }

                &.dark {
                    display: block;
                }
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    margin: 20px 0;

                    &.current {
                        background: #013E58;
                        color: #19D6FF;
                    }
                }
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 0 35px;
                margin: 30px 0;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #fff;

                &:hover {
                    opacity: 0.8;
                }

                &.current {
                    background: #D6EAF3;
                    color: #015A80;
                    font-weight: 700;
                    border-radius: 24px;
                }
            }

            &:last-child {
                .nav-link {
                    padding-right: 0;
                }
            }
        }
    }
}

.carousel {
    background: url(../img/bg_present.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -110px;
    z-index: 1;
    padding: 135px 0 0 0;

    .carousel-indicators {
        display: unset;
        top: 35%;
        right: 100px;
        margin: 0;
        left: unset;
        bottom: unset;
        text-align: center;

        li {
            text-indent: unset;
            background: unset;
            transition: unset;
            color: rgba(255, 255, 255, 0.5);
            opacity: 1;
            position: relative;
            border: 0;
            height: 66.39px;

            span {
                font-size: 36px;
                width: 60px;
                height: 66.39px;
                text-align: center;
                line-height: 66.39px;
                display: block;
            }


            &.active {
                span {
                    background: url(../img/indi.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    color: #15A0BE;
                    font-size: 48px;
                    font-weight: 700;
                }
            }
        }
    }

    .carousel-inner {

        .carousel-item {
            min-height: 780px;

            h1 {
                color: $orange;
                font-size: 56px;
                line-height: 72px;
                font-weight: 700;
                padding-top: 285px;
            }

            p {
                font-size: 18px;
                color: #828282;
                line-height: 24px;

                span {
                    display: block;
                }
            }

            &:nth-child(2) {
                h1 {
                    padding-top: 230px;
                }
            }

            .imgDesc {
                position: relative;
                padding-bottom: 160px;

                .main {
                    position: relative;
                    z-index: 2;
                }

                .frame {
                    z-index: 1;
                    position: absolute;
                    bottom: 0;
                    left: -200px;
                }
            }

            .btn-action {
                background: #013E58;
                border-radius: 24px;
                width: 270px;
                height: 50px;
                line-height: 50px;
                text-decoration: none;
                font-size: 18px;
                color: #19D6FF;
                display: inline-block;
                text-align: center;
                margin-top: 10px;
            }
        }
    }

}

.btn-down {
    display: block;
    text-align: center;
    margin-top: -180px;
    position: relative;
    z-index: 3;
}

.services {
    padding-top: 190px;
    background: url(../img/bg_services.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;

    .title-section {
        text-align: center;
        margin-bottom: 25px;

        h2 {
            color: $orange;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            position: relative;


            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(1, 90, 128, 0.1);
                top: 45px;
                left: 0;
                z-index: -1;

            }
        }
    }

    .item-service {
        padding-top: 40px;

        &:nth-child(2) {
            img {
                position: relative;
                top: -2px;
            }
        }

        h3 {
            color: #4F4F4F;
            font-size: 18px;
            font-weight: bold;
        }

        p {
            color: #58595B;
            font-size: 16px;
        }

        .btn-ex {
            font-size: 13px;
            color: #15a0be;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }

            img {
                margin-left: 15px;
            }
        }
    }
}

.download {
    background: url(../img/bg_download.png);
    background-repeat: no-repeat;
    background-size: cover;

    .store {
        h2 {
            display: inline-block;
            position: relative;
            font-size: 48px;
            font-weight: bold;
            color: #fff;
            margin-top: 120px;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(255, 255, 255, 0.1);
                top: 45px;
                left: 0;
                z-index: 1;
            }
        }

        a {
            display: inline-block;
            background: #19D6FF;
            color: #015A80;
            font-size: 20px;
            font-weight: bold;
            line-height: 70px;
            height: 70px;
            padding: 0 39px;
            border-radius: 50px;
            margin: 30px 30px 125px 0;

            &:hover {
                text-decoration: none;
            }

            img {
                position: relative;
                top: -3px;
                margin-right: 10px;
            }
        }
    }

    .scan {
        text-align: center;
        position: relative;

        .qr-wrap {
            &:after {
                content: '';
                width: 131%;
                height: 420px;
                background: url(../img/frame_qr_d2.png);
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: -45px;
                z-index: 2;

            }

            h3 {
                font-size: 20px;
                color: #fff;
                margin-bottom: 13px;
                padding-top: 95px;
                position: relative;
                z-index: 3;
            }

            img {
                margin-bottom: 65px;
                position: relative;
                z-index: 3;
                max-width: 180px;
            }
        }


    }
}

.newsletter {
    background: url(../img/news_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    .info {
        margin-top: 30px;

        .item-info {
            color: #58595B;
            font-size: 16px;

            a {
                color: #58595B;
                text-decoration: none;
            }

            span {
                display: block;
                padding-left: 40px;
                position: relative;
                top: -26px;
            }

            // &:first-child {
            //     // margin-bottom: -15px;

            //     span {
            //         top: -32px;
            //     }
            // }

        }
    }

    .regForm {
        background: #fff;
        padding: 0 30px 10px 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

        h3 {
            font-size: 24px;
            font-weight: bold;
            color: #58595B;
            margin-bottom: 30px;
            margin-top: 38px;
            position: relative;

            &:before {
                content: '';
                width: 5px;
                height: 60px;
                background: #015a80;
                position: absolute;
                left: -30px;
                top: -12px;
            }
        }

        .gender {
            label {
                position: relative;
                padding-left: 30px;
                color: #828282;
                font-size: 16px;
                margin-top: 15px;

                &:first-child {
                    margin-right: 60px;
                }

                input {
                    opacity: 0;

                    &:checked {
                        &~.checkmark {
                            &:after {
                                background: url(../img/on.svg);
                            }
                        }
                    }
                }

                .checkmark {
                    position: absolute;
                    left: 0;
                    top: 2px;

                    &:after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        background: url(../img/off.svg);
                        background-size: cover;
                    }
                }
            }
        }

        .trap {
            height: 0;
            border: 0;
            font-size: 0;
            position: absolute;
        }

        .ipText {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #15A0BE;
            background: transparent;
            padding: 11px 0;

            &::placeholder {
                color: #828282;
            }

            &.full {
                margin-top: 20px;
            }
        }

        .btn-submit {
            background: #013E58;
            height: 50px;
            line-height: 50px;
            width: 270px;
            text-align: center;
            color: #19D6FF;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            display: inline-block;
            border-radius: 50px;
            margin: 40px auto 40px auto;
            pointer-events: none;
            opacity: 0.9;
            border: 0;

            &.active {
                pointer-events: unset;
                opacity: 1;
            }
        }

        .error {
            color: #F27227;
            font-size: 13px;
            font-style: italic;
        }

        .success {
            margin: 0 auto;
            padding: 25px 0;
            color: #149414;
            font-style: italic;
        }
    }
}

.footer-content {
    background: #015A80;
    padding-top: 35px;
    padding-bottom: 40px;

    .footer-logo {
        margin-bottom: 20px;
    }

    span {
        display: block;
        color: #BDBDBD;
        font-size: 14px;
        padding-top: 10px;
    }

    .footer-content-right {
        text-align: right;
        margin-top: 10px;

        .social {
            a {
                margin-left: 27px;
                margin-top: 7px;
            }
        }

        .docs {
            a {
                min-width: 170px;
                padding: 0 10px;
                height: 40px;
                background: #19D6FF;
                line-height: 40px;
                font-size: 14px;
                color: #015A80;
                text-align: center;
                display: inline-block;
                border-radius: 20px;
                margin-top: 25px;
                margin-left: 27px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.footer-cert {
    background: #013E58;
    text-align: center;
    padding: 15px 0;

    img {
        border-radius: 10px;
        margin: 0 15px;
    }
}

.banner {
    min-height: 600px;
    background: url(../img/banner_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about {
    .bread {
        margin-top: 23px;

        a {
            padding: 0 20px;
            color: #15A0BE;
            font-size: 18px;
            position: relative;

            &:after {
                content: '';
                width: 24px;
                height: 24px;
                background: url(../img/next.svg);
                background-size: cover;
                position: absolute;
                right: -13px;
                top: -1px;
            }

            img {
                position: relative;
                top: -3px;
            }

            &:hover {
                text-decoration: none;
            }

            &:first-child {
                padding-left: 0;
                border-right: 1px solid rgba(88, 89, 91, 0.5);

                &:after {
                    display: none;
                }
            }

            &:last-child {
                border: 0;
                color: #58595B;

                &:after {
                    display: none;
                }
            }
        }
    }

    .title-section {
        text-align: center;
        margin-top: 55px;
        margin-bottom: 25px;

        h2 {
            color: $orange;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(1, 90, 128, 0.1);
                top: 45px;
                left: 0;
                z-index: -1;

            }
        }
    }

    .desc {
        text-align: center;
    }

    .information {
        padding-bottom: 120px;

        p {
            padding-left: 40px;
            position: relative;

            &:before {
                content: '';
                width: 12px;
                height: 12px;
                background: url(../img/dot.svg) no-repeat;
                position: absolute;
                left: 15px;
                top: 6px;
            }

            span {
                display: block;

                &:first-child {
                    margin-top: 25px;
                }
            }

            &.subPa {
                &:before {
                    display: none;
                }
            }

        }

        ul {
            margin-top: 15px;
            list-style-type: none !important;

        }
    }
}

.corp {
    .bread {
        margin-top: 23px;

        a {
            padding: 0 20px;
            color: #15A0BE;
            font-size: 18px;
            position: relative;

            &:after {
                content: '';
                width: 18px;
                height: 18px;
                background: url(../img/next.svg);
                background-size: cover;
                position: absolute;
                right: -13px;
                top: 0;
            }

            img {
                position: relative;
                top: -3px;
            }

            &:hover {
                text-decoration: none;
            }

            &:first-child {
                padding-left: 0;
                border-right: 1px solid rgba(88, 89, 91, 0.5);

                &:after {
                    display: none;
                }
            }

            &:last-child {
                border: 0;
                color: #58595B;

                &:after {
                    display: none;
                }
            }
        }
    }

    .title-section {
        text-align: center;
        margin-top: 55px;
        margin-bottom: 25px;

        h2 {
            color: $orange;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(1, 90, 128, 0.1);
                top: 45px;
                left: 0;
                z-index: -1;

            }
        }

        span {
            font-size: 18px;
            color: #828282;
            display: block;
            margin-top: 20px;
        }
    }

    .blog-list {
        .blog-item {
            img {
                width: 100%;
                margin: 0 auto;
                display: block;
            }

            h4 {
                font-size: 18px;
                color: #58595B;
                padding-top: 16px;
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                color: #58595B;
                line-height: 19px;
            }

            .btn-ex {
                font-size: 13px;
                color: #15a0be;
                text-decoration: none;

                &:hover {
                    opacity: 0.7;
                }

                img {
                    margin-left: 15px;
                    width: 15px;
                    display: inline-block;
                }
            }
        }
    }

    .item-partner {
        margin-top: 60px;

        a {
            margin-top: 30px;
            padding: 20px;
            display: inline-block;
            width: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            position: relative;
            height: 120px;

            span {
                color: #015A80;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                top: 7px;
                left: 15px;
            }

            img {
                width: 185px;
                position: absolute;
                bottom: 0;
                right: 35px;
            }

            &:hover {
                text-decoration: none;
            }

            &.selected {
                background: #013E58;

                span {
                    color: #19D6FF;
                }
            }
        }

        &:nth-child(2) {
            a {
                span {
                    top: 25px;
                }
            }
        }
    }

    #tabsPartnerForm {
        &>div {
            display: none;
        }
    }

    .titleReg {
        color: $orange;
        font-size: 32px;
        line-height: 37px;
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 90px;
        padding-bottom: 27px;

        &.sub {
            margin-top: 55px;
        }
    }

    p.short-desc {
        margin-bottom: 5px;

        .contact {
            display: block;
            text-align: center;

            span {
                display: block;
                font-size: 18px;
                line-height: 24px;
                color: #58595B;

                a {
                    color: #58595b;
                    font-weight: bold;
                }
            }
        }
    }

    .banks {
        .item-partner {
            margin-top: 0;
        }
    }

    .full-desc {
        display: none;
    }

    .readmore {
        color: #0091EA;
        line-height: 16px;
        position: relative;

        &:after {
            content: '';
            width: 17px;
            height: 8px;
            background: url(../img/arrow-more.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 5px;
            right: -25px;
        }
    }

    .cta {
        text-align: center;

        .ctaReg {
            display: inline-block;
            margin: 30px auto;
            width: 255px;
            padding: 12px 0;
            font-size: 16px;
            color: #19D6FF;
            background: #193D56;
            border-radius: 32px;

            &:hover {
                text-decoration: none;
                opacity: 0.85;
            }
        }
    }

    .wrapWizard {
        text-align: center;

        .wizard {
            color: #BDBDBD;
            padding-left: 0;
            display: block;
            margin-top: 65px;

            li {
                display: inline-block;
                text-align: center;
                position: relative;
                padding: 0 50px;

                &:before {
                    content: '1';
                    width: 32px;
                    height: 32px;
                    background-size: cover;
                    position: absolute;
                    border: 1.2px solid #BDBDBD;
                    color: #bdbdbd;
                    font-weight: bold;
                    border-radius: 50%;
                    top: -40px;
                    left: calc(50% - 16px);
                    padding-top: 3px;
                }

                &:nth-child(2) {
                    &:before {
                        content: '2';
                    }
                }

                &:nth-child(3) {
                    &:before {
                        content: '3';
                    }
                }

                &:after {
                    content: '';
                    width: 120px;
                    height: 1px;
                    background: #BDBDBD;
                    position: absolute;
                    top: -23px;
                    left: calc(50% + 45px);
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                .step {
                    font-size: 16px;
                    font-weight: bold;
                    display: block;
                }

                .desc {
                    font-size: 14px;
                    line-height: 16px;
                }

                &.doing {
                    &:before {
                        color: #015A80;
                        border-color: #015a80;
                    }

                    .step {
                        color: #015A80;
                    }

                    .desc {
                        color: #015a80;
                    }

                    &:after {
                        background-color: #015a80;
                    }
                }

                &.done {
                    &:before {
                        color: #015A80;
                        border-color: #015a80;
                        content: '';
                        background: url(../img/check_trans.svg);
                        background-color: #015a80;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .step {
                        color: #015A80;
                    }

                    .desc {
                        color: #015a80;
                    }

                    &:after {
                        background-color: #015a80;
                    }
                }
            }
        }
    }

    .wrapForm {
        .formMerchant {
            text-align: center;

            .formMerchantCont {
                margin-top: 55px;
            }



            span.host {
                color: #58595B;
                font-size: 18px;
                line-height: 24px;
                display: block;
                margin-top: 45px;

                i {
                    color: #FF3E00;
                    font-style: normal;
                }
            }

            input {
                margin-top: 20px;
                width: 100%;
                max-width: 370px;
                height: 56px;
                color: #373737;
                font-size: 18px;
                border: 1px solid #BDBDBD;
                border-radius: 8px;
                padding: 0 10px;
            }

            .select2-container {
                width: 100% !important;

                .select2-selection--single {
                    height: 56px;

                    .select2-selection__rendered {
                        line-height: 56px;
                    }

                    .select2-selection__arrow {
                        top: 14px;
                    }
                }
            }

            .captcha {
                text-align: center;
                text-align: -webkit-center;
                margin-top: 30px;
                display: block ruby;
            }

            .wrapCTA {
                &.lForm {
                    margin: 30px 0 60px 0;
                }

                a {
                    color: #19D6FF;
                    font-weight: bold;
                    font-size: 16px;
                    width: 50%;
                    max-width: 270px;
                    margin: 30px 15px;
                    background: #193D56;
                    border-radius: 32px;
                    padding: 12px 10px;
                    display: inline-block;

                    &:hover {
                        text-decoration: none;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    }

                    &.disabled {
                        opacity: 0.8;
                    }

                    &.subCTA {
                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            span.error {
                display: block;
                color: #FF3E00;
                font-size: 18px;
                padding-top: 5px;
            }

            .contact {
                padding-bottom: 70px;

                span {
                    display: block;
                    font-size: 18px;
                    line-height: 24px;
                    color: #58595B;

                    &:last-child {
                        a {
                            font-weight: 400;
                            color: #0091EA;
                        }
                    }

                    a {
                        color: #58595b;
                        font-weight: bold;
                    }
                }
            }

            .form-group {
                margin-top: 20px;
                text-align: left;

                &>div {
                    position: relative;
                    padding: 0;
                }

                label {
                    font-size: 18px;
                    color: #58595B;
                    padding-top: 14px;
                    text-align: left;

                    i {
                        font-style: normal;
                        color: #FF3E00;
                    }

                    &.long {
                        padding-top: 1px;
                    }
                }

                input {
                    margin-top: 0;
                    width: 100%;
                    max-width: unset;

                    &:read-only {
                        background: #EBF6FB;
                        color: #373737;
                        font-weight: bold;
                    }

                    &[type=file] {
                        background: transparent;
                        border-radius: 16px;
                        width: 137px;
                        height: 137px;
                        position: absolute;
                        z-index: 9;
                        opacity: 0;
                    }
                }

                .wrapSelect {
                    position: relative;

                    &:after {
                        content: '';
                        width: 24px;
                        height: 24px;
                        background: url(../img/dropdown.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        right: 10px;
                        top: 16px;
                    }
                }

                select {
                    height: 56px;
                    color: #373737;
                    font-size: 18px;
                    border: 1px solid #bdbdbd;
                    border-radius: 8px;
                    padding: 0 10px;
                    background: transparent;
                    width: 100%;
                }

                .removeImg {
                    width: 30px;
                    height: 30px;
                    background: url(../img/closeModal.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -16px;
                    right: -13px;
                    z-index: 10;
                    display: none;
                }

                .wrapPreview {
                    height: 137px;
                    width: 137px;
                    background-size: cover;
                    border: 1.20882px dashed #015A80;
                    border-radius: 16px;
                    position: relative;
                    display: inline-block;
                    margin-right: 27px;
                    background: #EBF6FB;

                    &.selected {
                        .removeImg {
                            display: block;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.selected {
                        background: #fff;
                    }

                    .preview {
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        text-align: center;
                        width: 100%;

                        &.errorWrap {
                            .desc {
                                display: none;
                            }
                        }

                        .desc {
                            font-size: 18.1324px;
                            line-height: 24px;
                            color: #015A80;
                            display: block;
                            padding: 0 8px;
                            padding-top: 5px;
                        }

                        img {
                            max-width: 135px;
                            max-height: 135px;
                        }
                    }
                }

                .wrapDatepicker {
                    position: relative;

                    &:after {
                        content: '';
                        width: 24px;
                        height: 24px;
                        background: url(../img/calendar.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 15px;
                        right: 10px;
                        z-index: -1;
                    }

                    input {
                        background: transparent;
                        padding-right: 40px;
                    }
                }

                .check {
                    background: url("../img/check.svg");
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    margin-left: 15px;
                    margin-right: 10px;
                    position: relative;
                    top: 2px;
                }

                .wrapCheck {
                    .check {
                        margin-left: 0;
                        margin-right: 7px;
                    }

                    label {
                        margin-right: 30px;
                    }

                    label:last-child {
                        margin-right: 0;
                    }
                }

                input[type='checkbox'] {
                    display: none;

                    &:checked~.check {
                        background: url("../img/checked.svg");
                    }
                }
            }
        }
    }
}

.partners {
    padding-bottom: 150px;

    .title-section {
        text-align: center;
        margin-top: 55px;
        margin-bottom: 25px;

        h2 {
            margin-top: 25px;
            color: $orange;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(1, 90, 128, 0.1);
                top: 45px;
                left: 0;
                z-index: -1;
            }
        }
    }

    .item-partner {
        text-align: center;

        img {
            width: 100%;
            padding: 18px 30px;
            border: 1px solid #D6EAF3;
            border-radius: 20px;
            margin-top: 30px;
        }
    }
}

.service-list {
    .bread {
        margin-top: 23px;

        a {
            padding: 0 20px;
            color: #15A0BE;
            font-size: 18px;
            position: relative;

            &:after {
                content: '';
                width: 24px;
                height: 24px;
                background: url(../img/next.svg);
                background-size: cover;
                position: absolute;
                right: -13px;
                top: -1px;
            }

            img {
                position: relative;
                top: -3px;
            }

            &:hover {
                text-decoration: none;
            }

            &:first-child {
                padding-left: 0;
                border-right: 1px solid rgba(88, 89, 91, 0.5);

                &:after {
                    display: none;
                }
            }

            &:last-child {
                border: 0;
                color: #58595B;

                &:after {
                    display: none;
                }
            }
        }
    }

    .title-section {
        text-align: center;
        margin-top: 55px;
        margin-bottom: 25px;

        h2 {
            margin-top: 25px;
            color: $orange;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(1, 90, 128, 0.1);
                top: 45px;
                left: 0;
                z-index: -1;
            }
        }

        &.sub {
            padding-top: 55px;
            display: none;
        }
    }

    .imgWrap {
        text-align: center;
        padding-top: 70px;

        p {
            padding-top: 70px;
            font-size: 32px;
            line-height: 41px;
            color: #58595B;
            font-weight: bold;

            b {
                color: $orange;
            }
        }
    }

    .infoTab {
        display: none;

        &.open {
            display: block !important;
        }

        .partner-list {
            margin-top: 20px;

            .partner-item {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                padding: 15px;
                min-height: 110px;
                margin-top: 30px;
                position: relative;

                img {
                    height: 80px;
                    display: unset !important;
                }

                span {
                    padding: 0 20px;
                    font-size: 18px;
                    line-height: 24px;
                    color: #015A80;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

            }
        }

        .cate {
            position: relative;
            top: 30px;
            font-weight: bold;
            font-size: 20px;
            color: black;
        }
    }
}

.service-category {
    text-align: center;
    border-bottom: 0;

    a {
        display: inline-block;
        color: #58595B;
        font-size: 16px;
        padding: 15px 28px;
        border-radius: 50px;
        margin-top: 20px;
        cursor: pointer;

        &.active {
            color: #19D6FF;
            background: #013E58;

            &:hover {
                color: #19D6FF;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.tab-services {
    margin-top: 20px;
    padding-bottom: 90px;

    .item-select {
        a {
            margin-top: 30px;
            padding: 20px;
            display: inline-block;
            width: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            position: relative;

            img {
                width: 80px;

                &.light {
                    display: none;
                }
            }

            span {
                color: #015A80;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                top: 4px;
                left: 15px;
            }

            &:hover {
                text-decoration: none;
            }

            &:before {
                content: '1';
                width: 100%;
                height: 100%;
                position: absolute;
                top: -20px;
                left: -10px;
                text-align: right;
                color: #015A80;
                opacity: 0.1;
                font-weight: bold;
                font-size: 100px;

            }

            &.selected {
                background: #013E58;

                span {
                    color: #19D6FF;
                }

                img {
                    &.light {
                        display: inline-block;
                    }

                    &.dark {
                        display: none;
                    }
                }

                &:before {
                    color: #fff;
                }
            }
        }

        &:nth-child(2) {
            a {
                &:before {
                    content: '2';
                }
            }
        }

        &:nth-child(3) {
            a {
                &:before {
                    content: '3';
                }
            }
        }

        &:nth-child(4) {
            a {
                &:before {
                    content: '4';
                }
            }
        }

        &:nth-child(5) {
            a {
                &:before {
                    content: '5';
                }
            }
        }

        &:nth-child(6) {
            a {
                &:before {
                    content: '6';
                }
            }
        }
    }

    .filterSection {
        margin-top: 60px;

        .selectWrap {
            select {
                width: 100%;
                border: 0;
                border-bottom: 1px solid #15A0BE;
                padding-bottom: 12px;
                padding-right: 25px;
                font-size: 16px;
                color: #58595B;
                z-index: 2;
                position: relative;
                background: transparent;
            }

            &:before {
                content: '';
                width: 24px;
                height: 24px;
                background: url(../img/down.svg) no-repeat;
                background-size: cover;
                position: absolute;
                right: 15px;
                z-index: 1;
            }
        }

        .inputWrap {
            input {
                width: 100%;
                border: 0;
                border-bottom: 1px solid #15A0BE;
                padding-bottom: 12px;
                padding-right: 60px;
                font-size: 16px;
                color: #58595B;
            }

            a {
                padding: 15px;
                position: absolute;
                right: 0;
                top: -20px;
            }
        }
    }

    .table {
        margin-top: 50px;
        text-align: left;

        thead {
            th {
                background: #015A80;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                border-bottom: 0;
                vertical-align: middle;
                padding-top: 16px;
                padding-bottom: 16px;

                &:nth-child(1) {
                    text-align: center;
                }
            }
        }

        &.table-striped {
            tbody {
                tr {
                    td {
                        border-top: 0;
                        padding: 13px 0.75rem;

                        &:nth-child(1) {
                            text-align: center;
                        }
                    }

                    &:nth-of-type(2n) {
                        background: #EBF6FB;
                    }

                    &:nth-of-type(2n+1) {
                        background: #fff;
                    }
                }
            }
        }
    }

    .pagination {
        float: right;
        margin-top: 15px;

        a {
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 50%;
            font-size: 16px;
            color: #58595B;
            margin: 0 5px;
            text-align: center;

            &:last-child {
                margin-right: -15px;
            }

            &.current {
                background: #015A80;
                color: #fff;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.support {
    padding-bottom: 100px;

    .bread {
        margin-top: 23px;

        a {
            padding: 0 20px;
            color: #15A0BE;
            font-size: 18px;
            position: relative;

            &:after {
                content: '';
                width: 24px;
                height: 24px;
                background: url(../img/next.svg);
                background-size: cover;
                position: absolute;
                right: -13px;
                top: -1px;
            }

            img {
                position: relative;
                top: -3px;
            }

            &:hover {
                text-decoration: none;
            }

            &:first-child {
                padding-left: 0;
                border-right: 1px solid rgba(88, 89, 91, 0.5);

                &:after {
                    display: none;
                }
            }

            &:last-child {
                border: 0;
                color: #58595B;
                pointer-events: none;

                &:after {
                    display: none;
                }
            }
        }
    }

    .questions {
        margin-top: 55px;

        img {
            margin-right: 17px;
            position: relative;
            top: -7px;
        }

        span {
            font-size: 32px;
            color: #F27227;
            font-weight: bold;

        }

        .question-list {
            background: #EBF6FB;
            border-radius: 20px;
            padding: 30px;
            margin-top: 20px;

            a {
                position: relative;
                display: block;
                color: #58595B;
                padding-left: 32px;
                margin-bottom: 26px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: url(../img/dot.svg);
                    background-size: cover;
                    position: absolute;
                    left: 0;
                    top: 5px;
                }

                &.active {
                    color: #15A0BE;
                    font-weight: bold;

                    &:after {
                        background: url(../img/dot_full.svg);
                    }
                }



                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .answers {
        padding-left: 30px;

        .q {
            color: #58595B;
            font-size: 20px;
            font-weight: bold;
            display: block;
            border-bottom: 1px solid #c4c4c4;
            padding-bottom: 15px;
            margin-bottom: 30px;
        }

        .steps {
            position: relative;

            span {
                display: block;
                margin: 36px 0;
                padding-left: 70px;
                position: relative;

                a {
                    color: #F27227;
                    text-decoration: none;
                }

                &.active {
                    &:before {
                        background: #013E58;
                        color: #19D6FF;
                    }
                }

                &:before {
                    content: '1';
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    position: absolute;
                    left: 0;
                    font-size: 20px;
                    font-weight: bold;
                    background: #EBF6FB;
                    border-radius: 50%;
                    text-align: center;
                    color: #58595B;
                }

                &:nth-child(2) {
                    &:before {
                        content: '2';
                    }
                }

                &:nth-child(3) {
                    &:before {
                        content: '3';
                    }
                }

                &:nth-child(4) {
                    &:before {
                        content: '4';
                    }
                }

                &:nth-child(5) {
                    &:before {
                        content: '5';
                    }
                }

                &:nth-child(6) {
                    &:before {
                        content: '6';
                    }
                }

                &:nth-child(7) {
                    &:before {
                        content: '7';
                    }
                }

                &:nth-child(8) {
                    &:before {
                        content: '8';
                    }
                }
            }

            &:before {
                content: '';
                width: 1px;
                height: calc(100% - 10px);
                border-left: 1px dashed #D6EAF3;
                position: absolute;
                left: 20px;
            }
        }

        .anwContent {
            padding-top: 120px;
            display: none;

            &.show {
                display: block;
            }

            a {
                color: #f27227;
            }

            table {
                th {
                    vertical-align: middle;

                    &:first-child {
                        text-align: center;
                    }
                }

                td {
                    &:first-child {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .asking {
        font-weight: bold;
        font-size: 36px;
        color: #F27227;
        margin-top: 80px;
    }

    .inputSearch {
        position: relative;
        margin-top: 30px;

        input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #15a0be;
            padding-bottom: 12px;
        }

        .btn-search {
            position: absolute;
            right: 0;
            padding: 10px;
            right: -10px;
            top: -18px;
        }

        .hint {
            color: #BDBDBD;
            font-size: 16px;
            padding-top: 13px;

            a {
                text-decoration: underline;
                color: #BDBDBD;
            }
        }

    }

    .foxHello {
        margin-top: 30px;

        img {
            max-width: 200px;
        }
    }

    .wrapItem {
        margin-top: 35px;

        .item-select {
            a {
                margin-top: 30px;
                padding: 20px;
                display: inline-block;
                width: 100%;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                position: relative;
                pointer-events: unset;

                img {
                    width: 80px;
                }

                span {
                    color: #015A80;
                    font-size: 20px;
                    font-weight: bold;
                    position: relative;
                    top: 4px;
                    left: 15px;
                }

                &:hover {
                    text-decoration: none;
                }

                &:before {
                    content: '1';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -20px;
                    left: -10px;
                    text-align: right;
                    color: #015A80;
                    opacity: 0.1;
                    font-weight: bold;
                    font-size: 100px;

                }
            }

            &:nth-child(2) {
                a {
                    &:before {
                        content: '2';
                    }
                }
            }

            &:nth-child(3) {
                a {
                    &:before {
                        content: '3';
                    }
                }
            }

            &:nth-child(4) {
                a {
                    &:before {
                        content: '4';
                    }
                }
            }

            &:nth-child(5) {
                a {
                    &:before {
                        content: '5';
                    }
                }
            }

            &:nth-child(6) {
                a {
                    &:before {
                        content: '6';
                    }
                }
            }
        }
    }

    .title-section {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 75px;

        h2 {
            color: $orange;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            position: relative;


            &:after {
                content: "";
                width: 100%;
                position: absolute;
                height: 30px;
                background: rgba(1, 90, 128, 0.1);
                top: 45px;
                left: 0;
                z-index: -1;

            }
        }
    }

    .card {
        button {
            background: transparent;
            border: 0;
            text-align: left;
            width: 100%;
            color: #58595B;
            font-size: 16px;
            min-height: 70px;
            position: relative;
            padding-left: 63px;
            font-weight: bold;

            span {
                padding: 10px 0;
                display: inline-block;
            }

            &:before {
                content: '1';
                width: 100%;
                height: 100%;
                color: #015A80;
                opacity: 0.1;
                position: absolute;
                left: 5px;
                top: calc(50% - 54px);
                font-size: 70px;
                font-weight: bold;
            }

            &:after {
                content: '';
                width: 24px;
                height: 100%;
                background: url(../img/next.svg) no-repeat;
                background-size: 24px 24px;
                position: absolute;
                right: 15px;
            }
        }

        &:nth-child(even) {
            button {
                background: #EBF6FB;
            }
        }

        &:nth-child(2) {
            button {
                &:before {
                    content: '2';
                }
            }
        }

        &:nth-child(3) {
            button {
                &:before {
                    content: '3';
                }
            }
        }

        &:nth-child(4) {
            button {
                &:before {
                    content: '4';
                }
            }
        }

        &:nth-child(5) {
            button {
                &:before {
                    content: '5';
                }
            }
        }

        &:nth-child(6) {
            button {
                &:before {
                    content: '6';
                }
            }
        }

        &:nth-child(7) {
            button {
                &:before {
                    content: '7';
                }
            }
        }

        &:nth-child(8) {
            button {
                &:before {
                    content: '8';
                }
            }
        }

        .card-body {
            padding: 15px;
        }
    }
}

.asking-section {
    background: url(../img/asking_bg.png);
    background-size: cover;
    background-position: center;
    padding: 70px 0 85px 0;

    h3 {
        font-weight: bold;
        font-size: 36px;
        color: #F27227;
        margin-top: 45px;
    }

    span.subQ {
        display: block;
        font-size: 18px;
        color: #4F4F4F;
        padding-bottom: 25px;
    }

    .item-info {
        color: #58595B;
        font-size: 16px;

        a {
            color: #58595B;
            text-decoration: none;
        }

        span {
            display: block;
            padding-left: 40px;
            position: relative;
            top: -26px;
        }
    }

    .btn-support {
        margin-top: 28px;
        color: #19D6FF;
        width: 270px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        text-decoration: none;
        background: #013E58;
        border-radius: 50px;
        display: block;

    }
}

.notiPopup {
    .modal-body {
        text-align: center;
        padding-top: 60px;

        .closeModal {
            position: absolute;
            top: -16px;
            right: -25px;
            width: 50px;
            height: 50px;
        }

        .title {
            color: #58595B;
            font-size: 20px;
            font-weight: bold;
            display: block;
        }

        .desc {
            margin-top: 50px;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            color: #58595B;
            margin: 50px auto 40px auto;
            max-width: 720px;

            span {
                color: #227393;
            }
        }

        .modalCTA {
            a {
                width: 270px;
                padding: 12px 0;
                color: #19D6FF;
                font-size: 16px;
                background: #193D56;
                border-radius: 32px;
                display: inline-block;
                margin: 40px 20px 0 0;

                &:hover {
                    text-decoration: none;
                }

                &.subCTA {
                    opacity: 0.8;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1320px) {
    .carousel {
        background-size: 100% 115%;

        .carousel-indicators {
            top: 30%;
            right: 50px;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

        .navbar-brand {
            margin: 0 auto;


            img {
                width: 101px;
                margin: 15px 0;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #015A80;
                    margin: 5px 0;
                    padding: unset;
                }
            }
        }
    }

    .carousel {
        margin-top: 60px;
        padding: 0;
        background: url(../img/bg_present_tablet.png);
        background-size: 100% 70%;
        background-repeat: no-repeat;

        .carousel-inner {
            .carousel-item {
                h1 {
                    padding-top: 265px;
                }

                .imgDesc {
                    .main {
                        max-width: 310px;
                        margin-top: 100px;
                    }

                    .frame {
                        display: none;
                    }
                }
            }
        }

    }

    .services {
        background: unset;
        padding-top: 90px;
    }

    .download {
        .scan {
            .qr-wrap {
                &:after {
                    width: 116%;
                    height: 420px;
                    left: -30px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .navbar {
        .navbar-brand {
            img {
                position: relative;
                left: -30px;
            }
        }

        &.navbar-sub {
            background: #fff;

            .navbar-brand {
                img {
                    &.dark {
                        display: none;
                    }

                    &.light {
                        display: block;
                    }
                }
            }
        }
    }

    .banner {
        background-position: center;
        min-height: 350px;
    }

    .about {
        .information {
            padding-bottom: 60px;
        }
    }

    .support {
        .wrapItem {
            .item-select {
                a span {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

        &.fixed-top {
            background: #fff;
        }

        .navbar-brand {
            margin: 0 auto;

            img {
                width: 101px;
                margin: 15px 0;
                position: relative;
                left: -30px;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #015A80;
                    margin: 5px 0;
                    padding: unset;
                }
            }
        }

        &.navbar-sub {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 5px 0;
                    }
                }
            }
        }
    }

    .carousel {
        margin-top: 60px;
        padding: 0;
        background: url(../img/bg_present_tablet.png);
        background-repeat: no-repeat;

        .carousel-inner {
            .carousel-item {
                text-align: center;

                h1 {
                    font-size: 48px;
                    padding-top: 35px;
                    color: #fff;

                    br {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    h1 {
                        padding-top: 35px;
                        line-height: 54px;
                    }
                }

                p {
                    color: #fff;
                }

                .imgDesc {
                    .main {
                        max-width: 300px;
                        margin-top: 36px;
                    }

                    .frame {
                        bottom: 40px;
                        left: 0;
                        width: 100%;
                        max-width: 500px;
                    }
                }
            }
        }
    }

    .services {
        background: unset;
        padding-top: 90px;
    }

    .download {
        .store {
            text-align: center;

            h2 {
                margin-top: 60px;
            }

            a {
                margin-bottom: 0;
                margin-left: 30px;
            }
        }

        .scan {
            padding: 30px 0 70px 0;

            .qr-wrap {
                position: relative;
                display: inline-block;
                width: 45%;

                &:after {
                    width: 120%;
                    height: 430px;
                    left: -33px;
                }
            }
        }
    }

    .newsletter {
        padding: 0;

        .info {
            margin-top: 40px;

            .item-info {
                &:first-child {
                    margin-bottom: 0;

                    img {
                        position: relative;
                        top: 6px;
                    }
                }
            }
        }

        .regForm {
            margin: 20px 0 50px;
        }
    }

    .footer-content {
        text-align: center;

        .footer-content-right {
            text-align: center;
        }
    }

    .service-list {
        .title-section {
            h2 {
                font-size: 32px;
                line-height: 35px;

                &:after {
                    height: 14px;
                    top: 28px;
                }
            }
        }

        .infoTab {
            .partner-list {
                .partner-item {
                    text-align: center;
                    min-height: 143px;

                    img {
                        height: 60px;
                    }

                    span {
                        padding: 0 5px;
                        margin-top: 5px;
                        font-size: 14px;
                        position: unset;
                        transform: unset;
                        -ms-transform: unset;
                        display: block;
                    }
                }
            }
        }
    }

    .service-category {
        display: flex;
    }

    .tab-services {
        .item-select {
            a {
                text-align: center;

                span {
                    display: block;
                    position: unset;
                    margin-top: 5px;
                }

                img {
                    width: 50px;
                }

                &:before {
                    display: none;
                }
            }
        }

        .filterSection {
            .selectWrap {
                select {
                    font-size: 14px;
                }
            }

            .inputWrap {
                input {
                    font-size: 14px;
                }
            }
        }

        table {
            thead {
                th {
                    font-size: 16px;
                }
            }

            tbody {
                td {
                    font-size: 14px;
                }
            }
        }
    }

    .support {
        .wrapItem {
            .item-select {
                text-align: center;

                a {
                    span {
                        display: block;
                        padding-bottom: 15px;
                        top: unset;
                        left: unset;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .card {
            button {
                &:before {
                    left: 10px;
                    top: calc(50% - 43px);
                    font-size: 55px;
                }
            }
        }
    }

    .asking-section {
        h3 {
            line-height: 42px;
        }
    }

    .corp {
        .item-partner {
            a {
                img {
                    width: 145px;
                    right: 0;
                }

                span {
                    font-size: 17px;
                }
            }
        }

        .wrapForm {
            .formMerchant {
                .wrapCTA {
                    a {
                        max-width: 200px;
                    }
                }

                .form-group {
                    input[type="file"] {
                        width: 110px;
                        height: 110px;
                    }



                    .wrapPreview {
                        width: 110px;
                        height: 110px;
                        margin: 10px 10px 0 0;



                        .preview {
                            img {
                                max-width: 108px;
                                max-height: 108px;
                            }

                            .desc {
                                font-size: 16px;
                            }


                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .download {
        .scan {
            .qr-wrap {
                width: 60%;
            }
        }
    }
}

@media (max-width: 575px) {
    .btn-down {
        display: none;
    }

    .navbar-nav {
        padding: 0 15px;
    }

    .carousel {
        background: url(../img/bg_present_phone.png) no-repeat;
        background-size: cover;

        .carousel-inner {
            .carousel-item {
                min-height: 390px;

                h1 {
                    color: #fff;
                    font-size: 24px;
                    line-height: 30px;
                    padding-top: 75px;
                }

                &:nth-child(2) {
                    h1 {
                        padding-top: 72px;
                        line-height: 30px;
                    }
                }

                p {
                    font-size: 16px;

                    br {
                        display: none;
                    }
                }

                .imgDesc {
                    display: none;
                }

                .btn-action {
                    background: #19D6FF;
                    color: #015A80;
                    width: 160px;
                }
            }
        }

        .carousel-indicators {
            display: flex;
            top: unset;
            right: 15px;
            bottom: 40px;

            li {
                margin-right: 25px;

                span {
                    width: 40px;
                    height: 44.26px;
                    line-height: 44.26px;
                    font-size: 24px;
                }

                &.active {
                    span {
                        background: url(../img/indi_mobile.svg);
                        font-size: 24px;
                        color: #A2EFFF;
                    }
                }
            }
        }
    }

    .services {
        padding: 30px 0 0 0;

        .title-section {
            h2 {
                font-size: 32px;

                &::after {
                    top: 28px;
                    height: 14px;
                }
            }
        }

        .item-service {
            padding-top: 25px;

            &:last-child {
                .btn-ex {
                    border-bottom: 1px solid transparent;
                }
            }

            .ic {
                width: 40px;
                float: left;

            }

            h3 {
                padding-left: 50px;
                position: relative;
                top: 13px;
            }

            p {
                padding-top: 15px;
                margin-bottom: 7px;
            }

            .btn-ex {
                display: block;
                border-bottom: 1px solid #D6EAF3;
                padding-bottom: 20px;
            }
        }
    }

    .download {
        .store {
            h2 {
                font-size: 32px;

                &::after {
                    top: 28px;
                    height: 14px;
                }
            }
        }

        .scan {
            .qr-wrap {
                width: 78%;
            }
        }
    }

    .banner {
        min-height: 220px;
    }

    .about {
        .bread {
            a {
                font-size: 16px;
            }
        }

        .information {
            p {
                padding-left: 35px;

                &:before {
                    left: 10px;
                }
            }
        }

        .title-section {
            h2 {
                font-size: 32px;

                &:after {
                    top: 28px;
                    height: 14px;
                }
            }
        }

        .desc {
            img {
                width: 100%;
            }
        }
    }

    .corp {
        .bread {
            a {
                font-size: 16px;
            }
        }

        .title-section {
            h2 {
                font-size: 32px;

                &:after {
                    top: 28px;
                    height: 14px;
                }
            }

            span {
                font-size: 14px;
                margin-top: 0;
            }
        }

        .blog-item {
            padding-top: 25px;

            .btn-ex {
                display: block;
                border-bottom: 1px solid #D6EAF3;
                padding-bottom: 20px;
            }

            &:last-child {
                .btn-ex {
                    border-bottom: 1px solid transparent;
                }
            }
        }

        .titleReg {
            margin-top: 30px;
            font-size: 24px;
            line-height: 32px;

            &.sub {
                margin-top: 20px;
                font-size: 21px;
            }
        }

        .item-partner {
            margin-top: -20px;

            a {
                height: 110px;

                span {
                    top: 0;
                }

                img {
                    display: none;
                }
            }
        }

        .wrapWizard {
            .wizard {
                margin-top: 35px;

                li {
                    padding: 0 25px;

                    &:after {
                        width: 50px;
                        left: calc(50% + 25px);
                    }

                    .desc {
                        display: none;
                    }
                }
            }
        }

        .wrapForm {
            .formMerchant {
                .form-group {
                    label {
                        font-size: 14px;

                        span {
                            position: relative;
                            display: inline;
                            left: 17px;
                        }
                    }

                    .check {
                        margin-right: -10px;
                    }

                    input[type="file"] {
                        width: 90px;
                        height: 90px;
                    }

                    .wrapPreview {
                        width: 90px;
                        height: 90px;
                        margin: 10px 10px 0 0;

                        .preview {
                            img {
                                max-width: 88px;
                                max-height: 88px;
                            }

                            .desc {
                                font-size: 13px;
                                line-height: 16px;
                            }
                        }
                    }

                    .captcha.text-left {
                        text-align: center !important;
                    }

                    select {
                        font-size: 14px;
                        height: 50px;
                    }
                }

                input {
                    font-size: 14px;
                    height: 50px;
                }


                .formMerchantCont {
                    padding: 0 15px 0 0;
                    margin-top: 25px;
                }

                .wrapCTA {
                    a {
                        max-width: 140px;
                        margin: 20px 5px;
                    }

                    &.lForm {
                        margin: 10px 0 60px 0;
                    }
                }

                .captcha {
                    margin-top: 20px;
                }
            }
        }
    }

    .partners {
        padding-bottom: 60px;

        .title-section {
            margin-bottom: 25px;

            h2 {
                font-size: 32px;

                &:after {
                    top: 28px;
                    height: 14px;
                }
            }
        }

        .item-partner {
            img {
                padding: 15px;
            }
        }
    }

    .newsletter {
        .regForm {
            h3 {
                margin-top: 20px;
                font-size: 20px;

                &:before {
                    top: -2px;
                }
            }
        }
    }

    .asking-section {
        .item-info {
            span {
                padding-left: 0;
            }
        }
    }

    .footer-content {
        .footer-logo {
            max-width: 160px;
        }

        .footer-content-right {
            margin-top: 30px;

            .docs {
                a {
                    margin-left: 0;
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    font-size: 16px;
                }
            }

            .social {
                a {
                    margin: 0 10px;
                }
            }
        }
    }

    .service-category {
        display: block;

        a {
            border-radius: 20px;
            padding: 15px 10px;
        }
    }

    .service-list {
        .title-section {
            margin-bottom: 25px;

            h2 {
                &:after {
                    display: none;
                }
            }

            &.sub {
                margin-top: 0;
            }
        }

        .infoTab {
            .partner-list {
                .partner-item {
                    display: block;
                    text-align: center;
                    min-height: 148px;

                    img {
                        margin-top: 5px;
                    }

                    span {
                        font-size: 13px;
                    }
                }
            }
        }

        .imgWrap {
            padding-top: 30px;

            img {
                max-width: 60%;
            }

            p {
                padding-top: 40px;
                font-size: 18px;
                line-height: 33px;

                br {
                    display: none;
                }
            }
        }
    }

    .tab-services {
        .item-select {
            a {
                span {
                    font-size: 16px;
                }
            }
        }

        .filterSection {
            margin-top: 25px;

            .selectWrap {
                margin-bottom: 20px;

                &:before {
                    top: 5px;
                    width: 15px;
                    height: 15px;
                }
            }

            .inputWrap {
                a {
                    top: -15px;

                    img {
                        width: 30px;
                    }
                }
            }
        }

        .table {
            thead {
                th {
                    font-size: 13px;
                }
            }

            &.table-striped {
                tbody {
                    tr {
                        padding: 5px;
                    }
                }
            }
        }
    }

    .support {
        .bread {
            a {
                font-size: 14px;

                &:after {
                    top: -4px;
                }
            }
        }

        .wrapItem {
            margin-top: 0;
        }

        .asking {
            font-size: 28px;
            margin-top: 30px;
            line-height: 34px;
        }

        .answers {
            margin-top: 0;
            padding-left: 0;

            .anwContent {
                padding-top: 65px;
            }
        }

        .questions {
            .question-list {
                padding: 20px 15px;

                a {
                    padding-left: 25px;
                }
            }
        }

        .foxHello {
            display: none;
        }

        .title-section {
            margin-bottom: 20px;

            h2 {
                font-size: 32px;

                &:after {
                    top: 28px;
                    height: 14px;
                }
            }
        }

        .wrapItem {
            .item-select {
                a {
                    padding: 10px;

                    span {
                        font-size: 14px;
                    }

                    img {
                        width: 50px;
                    }
                }
            }
        }

        .card {
            button {
                padding-right: 30px;

                &:after {
                    background-size: 16px 16px;
                    top: calc(50% - 8px);
                    right: 0;
                }
            }
        }
    }

    .asking-section {
        padding-top: 0;
        padding-bottom: 15px;
        text-align: center;

        h3 {
            font-size: 18px;
            line-height: 22px;
        }

        span {
            font-size: 16px;

            &.subQ {
                font-size: 14px;
            }
        }

        .btn-support {
            display: inline-block;
        }

        img {
            display: none;
        }
    }

    .notiPopup {
        .modal-body {
            .title {
                font-size: 16px;
            }

            p {
                font-size: 16px;
                margin-top: 24px;
                line-height: 22px;
            }

            .modalCTA {
                a {
                    width: 120px;
                    margin: 40px 15px 40px 0;
                }
            }
        }

        .modal-dialog {
            margin-top: 6rem;
        }
    }
}

@media (max-width: 375px) {
    .download {
        .scan {
            .qr-wrap {
                h3 {
                    padding-top: 80px;
                }

                &:after {
                    width: 123%;
                    height: 400px;
                    left: -35px;
                }
            }
        }

        .store {
            a {
                font-size: 16px;
                height: 60px;
                line-height: 60px;
            }
        }
    }

    .tab-services .pagination a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media (max-width: 350px) {
    .download {
        .scan {
            .qr-wrap {
                h3 {
                    padding-top: 30px;
                }

                img {
                    margin-bottom: 0;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    .carousel .carousel-indicators {
        right: 0;
    }

    .corp .title-section h2 {
        font-size: 28px;
    }

    .partners .item-partner img {
        padding: 15px;
    }

    .newsletter .regForm h3 {
        font-size: 17px;
    }

    .support .wrapItem .item-select a {
        min-height: 127px;

        span {
            padding-bottom: 0;
            padding-top: 10px;
        }
    }

    .corp .wrapWizard .wizard li {
        padding: 0 15px;

        &:after {
            width: 30px;
        }
    }
}

// START style for webview
#navbar_top {
    display: none;
}

.normal #navbar_top {
    display: block;
}

.webview .partners,
.webview .corp .corpWebview,
.webview .corp .container .bread,
.webview #navbar_top,
.webview .banner,
.webview .about .container .bread,
.webview .newsletter,
.webview #footer {
    display: none;
}

#ui-datepicker-div {
    z-index: 10 !important;
}

.ui-datepicker-title {
    .ui-datepicker-month {
        text-align: center;
        border: 1px solid #ccc;
    }

    .ui-datepicker-year {
        text-align: center;
        border: 1px solid #ccc;
    }
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 5px !important;
}

@media (min-width: 576px) {
    .notiPopup .modal-dialog {
        width: 90%;
        max-width: 837px;
        margin: 6rem auto;
    }
}

// .float-btn {
//     position: fixed;
//     color: #Fff;
//     background: #013E58;
//     bottom: 10px;
//     right: 0;
//     padding:10px 20px;
//     border-radius: 12px;
// }


// END style for webview