/*@font-face {
    font-family: SF Pro Display;
    src: url("../font/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: SF Pro Display;
    src: url("../font/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
}*/

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: SF Pro Display;
    font-weight: 400;
    overflow-x: hidden;
    background: #EBF6FB;
    font-size: 14px;
}

input:focus {
    outline: none !important;
}

button,
button:active,
button:focus,
a,
a:active,
a:focus {
    outline: none !important;

}

img:focus {
    outline: 0 !important;
    border: 0 none !important;
}

.mainContent {
    padding: 24px;
}

.nav {
    margin-bottom: 20px;
    /*display: none;*/
}

.nav a:nth-child(2) {
    float: right;
}

.sms .nav {
    display: block;
}

.app .nav {
    display: none;
}

.userInfo {
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-top: -4px;
}

.titleLabel {
    color: #015A80;
    font-weight: 600;
}

.userInfo span {
    display: block;
    font-size: 14px;
}

.userInfo span i {
    font-style: normal;
    float: right;
    color: #015A80;
}

.itemInfo {
    margin-top: 20px;
    letter-spacing: 0.15px;
}

.itemInfo .userPhoneNumber {
    color: #015A80;
    text-decoration: none;
    pointer-events: none;
}

.divide {
    width: 100%;
    height: 1px;
    background: #749CAD;
    display: none;
    margin: 24px 0 20px 0;
}

.titleSection {
    color: #015A80;
    font-weight: 600;
    font-size: 14px;
    display: block;
    padding-top: 20px;
}

.itemPass {
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-top: 15px;
    text-align: center;
    position: relative;
}

.itemPass span {
    color: rgba(0, 0, 0, 0.87);
}

.passwordViewSe,
.passwordView {
    width: 100%;
    height: 35px;
    padding-top: 25px;
    position: relative;
}

.passwordViewSe i,
.passwordView i {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    background: #015A80;
    opacity: 0.2;
    margin: 0 12px;
}

.passwordViewSe i.active,
.passwordView i.active {
    opacity: 1;
    top: -7px;
    position: relative;
}

.itemPass input {
    height: 62px;
    width: calc(100% - 34px);
    position: absolute;
    left: 16px;
    top: 30px;
    background: transparent;
    opacity: 0;
    font-size: 1px;
}

.notification {
    display: none;
    margin-bottom: 10px;
}

.itemPass span.txtNoti {
    color: #FFA731;
    padding-left: 4px;
}

.notification img {
    position: relative;
    top: 7px;
}

.itemCheck {
    position: relative;
}

.itemCheck input {
    opacity: 0
}

.itemCheck input~label {
    /*padding-left: 35px;*/
    display: block;
}

.itemCheck input~label::after {
    content: '';
    width: 24px;
    height: 24px;
    background: url("../img/check_light.svg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 16px;
    /*Update 25-11 theo chị Thủy*/
    display: none;
}

.itemCheck input:checked~label::after {
    background: url("../img/checked_light.svg");
}

.itemCheck {
    font-size: 14px;
    color: #212121;
    margin-top: 15px;
}

.itemCheck a {
    color: #19d6ff;
    text-decoration: none;
    position: relative;
    z-index: 8;
}

.itemCheck input~label {
    margin-top: 3px;
    color: #015A80;
}

.footC label {
    font-size: 14px;
    color: #212121;
    margin-top: 15px;
}

.footC label a {
    color: #19d6ff;
    text-decoration: none;
    position: relative;
    z-index: 8;
    font-size: 14px;
}

.footC {
    bottom: 15px;
    width: calc(100% - 48px);
    position: absolute;
}

.footC.relative {
    position: relative;
    width: 100%;
    padding-top: 30px;
}

.footC input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mainCTAW {
    font-weight: 600;
    font-size: 16px;
    color: #19D6FF;
    text-decoration: none;
    background: #013E58;
    display: block;
    text-align: center;
    padding: 14.5px 0;
    margin-top: 15px;
    width: 100%;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.footC img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.mainCTAW.disable {
    opacity: 0.5;
    pointer-events: none;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 16px;
    width: calc(100% - 80px);
    border-radius: 16px;
}

.titleModal {
    color: #015A80;
    font-weight: 600;
    display: block;
    margin-bottom: -3px;
    font-size: 16px;
}

.titleModal.center {
    text-align: center;
    padding-bottom: 10px;
}

.modal-content .text-page {
    max-height: 60vh;
    overflow-y: auto;
}

.text-page h1 {
    font-size: 14px;
}

.successScreen {
    text-align: center;
}

.successScreen img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.successScreen .redirect {
    max-width: 260px;
    margin-top: 5vh;
}

.tit {
    color: #015A80;
    font-weight: 600;
    font-size: 20px;
    display: block;
    padding-top: 10px;
}

.successScreen p {
    font-size: 16px;
    color: #015A80;
    margin-top: 20px;
}

.cta {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 48px);
}

.cta span {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    display: block;
}

.cta a {
    display: block;
    margin-top: 20px;
}

.cta a img {
    max-width: 180px;
}

.dot .btnToggle {
    width: 24px;
    height: 24px;
    background: url(../img/Icon_hide.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 9;
    padding: 10px;
    top: 12px;
    right: 0;
}

.dot .btnToggle.active {
    background: url(../img/Icon_show.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.dot i {
    font-size: 0px;
    font-style: normal;
}

.dot.show i {
    font-size: 36px;
    color: transparent;
    position: relative;
    left: -9px;
    top: -15px;
    background: transparent;
    border-radius: 2px;
    height: 35px;
}

.dot.show i.active {
    color: #015a80;
}

.dot.show i:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #015A80;
    opacity: 0.8;
    position: absolute;
    bottom: -16px;
    left: 2px;
}

.dot.show i.active:after {
    background: #19D6FF;
    bottom: -15px;
    left: 2px;
}

.ctaRe {
    text-align: center;
}

.btnAnd {
    width: 100%;
    max-width: 260px;
    background: #013E58;
    border-radius: 24px;
    color: #19D6FF;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 0;
    text-align: center;
    margin-top: 40px;
    display: none;
}

.btnAnd.active {
    display: inline-block;
}

.banner {
    background: #013E58;
    border-radius: 10px;
    text-align: center;
    padding: 8px 0;
    position: relative;
}

.banner img {
    display: block;
    margin: 0 auto;
}

.banner .m {
    color: #F4C82A;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

.banner p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.banner a {
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -5px;
}

@media (max-width: 330px) {
    .dot .btnToggle {
        right: -15px;
    }
}

@media (max-height: 700px) {
    .footC {
        position: relative;
        width: 100%;
        padding-top: 20px;
        bottom: -10px;
        display: initial;
    }

    .tit {
        font-size: 19px;
    }

    .cta span {
        font-size: 15px;
    }

    .cta {
        position: relative;
        width: 100%;
        bottom: -20px;
        display: initial;
    }

    .modal {
        padding-top: 30px;
    }
}

@media (min-width: 767px) {
    #wvContent {
        padding: 24px 30vw;
    }

    .footC {
        width: calc(100% - 60vw);
    }

    .cta {
        width: calc(100% - 60vw);
    }
}