#features {
    padding: 0 0 100px 0;
}

.nav-pills .nav-link.active {
    background: #16678A;
    color: #E8FBFF;
    border: 1px solid #16678A;
}

.nav-pills .nav-link {
    color: #111;
    padding: 25px 0;
    font-size: 16px;
    font-weight: bold;
}

.nav-pills .nav-item a {
    border: 1px solid #19D6FF;
    border-radius: 0;
    background: #EAF5FA;
}

.nav-pills .nav-item:first-child a {
    border-top-left-radius: 12px;
}

.nav-pills .nav-item:last-child a {
    border-top-right-radius: 12px;
}

.services {
    background-image: unset;
    padding-bottom: 70px;
}

.tab-content>.tab-pane {
    text-align: center;
    min-height: 200px;
    padding: 90px 0;
    background: #16678A;
    color: #fff;
}

.input-info {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 30px 10px 30px;
    position: relative;
    border-radius: 4px;
}

.input-info-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 155px;
    background-color: #19d6ff;
    height: 3px;
}

.input-info>.form-group .col {
    padding: 0 10px;
}

.input-info>.form-group input {
    margin: 5px 0;
    display: block;
    font-size: 14px;
    border: 0;
    width: 100%;
}

.form-control-lg {
    height: calc(2.875rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

input.button {
    background: #19d6ff;
    padding: 10px 17px 10px 17px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}