@font-face {
    font-family: SF Pro Display;
    src: url(../font/SanFranciscoDisplay-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: SF Pro Display;
    src: url(../font/SanFranciscoDisplay-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: SF Pro Display;
    src: url(../font/SanFranciscoDisplay-Bold.otf);
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: SF Pro Display;
    font-weight: 400;
}

#wvContent {
    padding: 24px;
}

.lgMainW {
    display: block;
    margin: 0 auto 24px auto;
}

.titleW {
    color: #015A80;
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.pW {
    color: #212121;
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
}

.ipOTP {
    margin-top: 18px;
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
}

.mainCtaW {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    width: calc(100% - 48px);
    background: #19D6FF;
    border: 0;
    border-radius: 24px;
    color: rgba(1, 62, 88, 1);
    font-size: 16px;
    padding: 14px 0;
    position: absolute;
    bottom: 24px;
}

@media (max-height: 360px) {
    .mainCtaW {
        bottom: 0;
    }

    .lgMainW {
        margin: 0 auto 10px auto;
    }

    .pW {
        padding-top: 15px;
    }
}

@media (max-width: 330px) {
    .mainCtaW {
        bottom: 10px;
    }

    .lgMainW {
        margin: 0 auto;
        max-width: 180px;
    }

    .pW {
        padding-top: 10px;
    }
}